# 编译输出目录
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE 文件
.idea/
*.iws
*.iml
*.ipr
.vscode/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf/

# 日志文件
logs/
*.log

# 生产环境配置
**/application-prod.properties

# 系统文件
.DS_Store
Thumbs.db